.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > span {
    background: #e4e8ee !important;
}

.kt-checkbox.kt-checkbox--brand.kt-checkbox--solid > input:checked ~ span {
    background: #5d78ff !important;
}

#kt_dataTable {
    .btn {
        margin-left: 5px;
    }

    // td, th {
    //     padding: 3px;
    // }
}

// .btn-warning {
//     color: white !important;
// }