<template>
  <ul class="kt-menu__nav">
    <li
      v-for="(item, i) in items"
      class="kt-menu__item"
      :class="classes(item)"
      aria-haspopup="true"
      data-ktmenu-submenu-toggle="hover"
      :key="i"
    >
      <a
        :href="item.children.length > 0 ? 'javascript:;' : item.href"
        class="kt-menu__link"
        :class="item.children.length > 0 ? 'kt-menu__toggle' : ''"
      >
        <span class="kt-menu__link-icon">
          <i :class="item.icon_class"></i>
        </span>
        <span class="kt-menu__link-text">{{ item.title }}</span>
        <i
          v-if="item.children.length > 0"
          class="kt-menu__ver-arrow la la-angle-right"
        ></i>
      </a>
      <sub-menu v-if="item.children.length > 0" :items="item.children" />
    </li>
  </ul>
</template>
<script>
import sub_menu from "./sub_menu";
export default {
  props: {
    items: {
      type: Array,
      default: [],
    },
  },
  components: { "sub-menu": sub_menu },
  methods: {
    classes: function (item) {
      var classes = [];
      if (item.children.length > 0) {
        classes.push("kt-menu__item--submenu");
      }
      if (item.active) {
        classes.push("kt-menu__item--open");
      }

      return classes.join(" ");
    },
    color: function (item) {
      if (item.color && item.color != "#000000") {
        return item.color;
      }

      return "";
    },
  },
};
</script>
