<template>
  <div class="kt-menu__submenu">
    <ul class="kt-menu__subnav">
      <li
        v-for="(item, i) in items"
        :key="i"
        class="kt-menu__item kt-menu__item--submenu"
        aria-haspopup="true"
        data-ktmenu-submenu-toggle="hover"
        :class="classes(item)"
      >
        <a
          :href="item.children.length > 0 ? 'javascript:;' : item.href"
          class="kt-menu__link"
          :class="item.children.length > 0 ? 'kt-menu__toggle' : ''"
        >
          <span class="kt-menu__link-icon">
            <i :class="item.icon_class"></i>
          </span>
          <span class="kt-menu__link-text">{{ item.title }}</span>
          <i
            v-if="item.children.length > 0"
            class="kt-menu__ver-arrow la la-angle-right"
          ></i>
        </a>
        <sub-menu v-if="item.children.length > 0" :items="item.children" />
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  props: {
    items: {
      type: Array,
      default: [],
    },
  },

  methods: {
    classes: function (item) {
      var classes = [];
      if (item.children.length > 0) {
        classes.push("kt-menu__item--submenu");
      }
      if (item.active) {
        classes.push("kt-menu__item--active");
      }

      return classes.join(" ");
    },
    color: function (item) {
      if (item.color && item.color != "#000000") {
        return item.color;
      }

      return "";
    },
  },
};
</script>
