#uploadProgress {
    display: none;
    background: #eee;
}
#toolbar {
    background: #e0e0e0;
    padding: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .btn {
        padding: 8px 13px;
        font-size: 13px;
        border-radius: 2px;
    }

    .btn-group {
        .btn.btn-light {
            margin-right: 2px;
        }
    }
}

#content {
    .filemanager {

    }
    .breadcrumb {
        // display: flex;
        // flex-wrap: wrap;
        // padding: 0.75rem 1rem;
        margin-bottom: 0;
        // list-style: none;
        // background-color: #e9ecef;
        // border-radius: 0.25rem;


        li {
            color: #4da7e8;
            cursor: pointer;
            position: relative;
            strong {
                font-weight: 500;
            }

            .arrow {
                display: none;
                position: absolute;
                bottom: -6px;
                width: 12px;
                height: 12px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg) translateX(50%);
                background: #f0f0f0;
                left: 50%;
                border-right: 1px solid #efefef;
                border-bottom: 1px solid #efefef;
                z-index: 1;
            }
            i {
                padding: 0 5px;
                color: #ccc;
                font-size: 10px;
            }

        }
        li:last-child .arrow {
            display: block;
        }
    }
    .breadcrumb.filemanager {
        top: 0;
        background: #f0f0f0;
        border: 1px solid #e0e0e0;
        border-bottom: 0;
        border-radius: 0;
        padding-left: 20px;
        width: 100%;
        margin-top: 0;
        left: 0;
        padding-top: 4px;
        padding-bottom: 4px;
    }
}
.flex {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #e0e0e0;
    border-top: 0;
}
.flex #left {
    -webkit-box-flex: 4;
    flex: 4;
    position: relative;
    min-height: 230px;
    background: #fff;
}
#files {
    display: -webkit-box;
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#files li {
    -webkit-box-flex: 1;
    flex: 1;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
}
#files li .file_link.selected, 
#files li .file_link:hover {
    background: #5867dd!important;
    // border-color: #2581b8;
    color: #fff;
}

#files li .file_link.selected .link_icon i, 
#files li .file_link:hover .link_icon i,
#files li .file_link:hover div,
#files li .file_link.selected div{
    color: #fff;
}

#files li .file_link {
    // background: #eee;
    // padding: 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ecf0f1;
    // overflow: hidden;
    // background: #f6f8f9;
    // display: -webkit-box;
    // display: flex;
    .details {
        -webkit-box-flex: 2;
        flex: 2;
        overflow: hidden;
        width: 100%;
    }
}
.file_link .link_icon {
    -webkit-box-flex: 1;
    flex: 1;
}
.file_link .link_icon i {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}
.file_link i.icon:before {
    font-size: 40px;
}
#files li .file_link .details {
    -webkit-box-flex: 2;
    flex: 2;
    overflow: hidden;
    width: 100%;
}
#files li .details .folder h4 {
    margin-top: 16px;
}
#files li .file_link.selected h4, #files li .file_link:hover h4 {
    color: #fff;
}
#files li .details h4 {
    margin-bottom: 2px;
    margin-top: 10px;
    max-height: 17px;
    height: 17px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}
.file_link .link_icon div {

}
.alert-text .filename {
    max-height: 20px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    width: 95%;
}

// right
.flex #right {
    -webkit-box-flex: 1;
    flex: 1;
    border-left: 1px solid #f1f1f1;

    .right_none_selected {
        text-align: center;
        i {
            width: 100%;
            text-align: center;
            font-size: 30px;
            margin-left: 0;
            padding: 50px;
            display: block;
            background: #f9f9f9;
        }
        p {
            text-align: center;
            color: #bbb;
            padding: 10px;
            border-bottom: 1px solid #f1f1f1;
        }
    }
}

#right .right_details {
    display: block;
    .detail_img {
        border-bottom: 1px solid #f1f1f1;
        background: #eee;
        i {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 70px;
            margin-left: 0;
            padding: 30px;
            background: #f9f9f9;
        }
        img {
            width: 100%;
            height: auto;
            display: inline-block;
        }
        div {
            audio, video {
                outline: none;
            }
        }
    }
    .detail_info {
        padding: 10px;
        span {
            display: block;
            clear: both;
        }
        h4, p {
            float: left;
            font-size: 12px;
            font-weight: 400;
        }
        h4 {
            color: #bbb;
            margin: 3px 8px 0 0;
            padding-bottom: 2px;
        }
        p {
            color: #444;
            padding-bottom: 3px;
        }
    }
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: linear-gradient(
45deg
,#fff 25%,transparent 0,transparent 75%,#fff 0,#fff),linear-gradient(
45deg
,#fff 25%,transparent 0,transparent 75%,#fff 0,#fff);
    background-size: 60px 60px;
    background-position: 0 0,30px 30px;
}