.icon-widget {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-widget i {
    font-size: 48px;
    background: rgba(0, 0, 0, .3);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
    color: #eee;
    line-height: 100px;
    text-align: center;
}

.kt-subheader__breadcrumbs {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    .kt-subheader__breadcrumbs-home {
        padding: 0px 0.65rem 0px 0px;
        transition: all 0.3s;
        >i {
            font-size: 1rem;
            color: #c5cbe7;
        }
    }

    .kt-subheader__breadcrumbs-separator {
        display: flex;
        justify-content: content;
        align-items: center;
        padding: 0 0.35rem 0 0;
    }

    .kt-subheader__breadcrumbs-separator:after {
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        content: " ";
        background: #e7e8ef;
    }

    .kt-subheader__breadcrumbs-link {
        padding: 0 0.35rem 0 0;
        font-size: 1rem;
        font-weight: 500;
        color: #959cb6;
        transition: all 0.3s;
    }
    
}
.kt-subheader__title i {
    font-size: 20px;
    margin-right: 10px;
}

.kt-user-card__name {
    display: flex;
    flex-direction: column;
}

.kt-widget19__labels a.btn {
    cursor: pointer !important;
}

#filemanager {
    position: relative;
    min-height: 200px;

}
.ace_editor.min_height_200 {
    min-height: 200px;
    width: 100%;
}

.hidden {
    display: none!important;
}

.bg-danger, .bg-primary, .bg-info {
    .kt-portlet__head-title, a, i {
        color: #fff !important;
    }

    a:hover {
        background: none !important;
    }
}


.btn-warning {
    color: white !important;
}

.form-control[readonly] {
    background-color: #eee;
    opacity: 1;
}