.kt-user-card__name {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1025px) {
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .no-page-header {
        padding-top: 65px;
    }
}